<h1>Hello Master</h1>

<p>You added</p>
<p>Hero name <strong>$name</strong>,</p>
<p>Super power is, <strong>$superpower</strong></p>
<p>Age: <strong>$age</p>
<p>Superpower: <strong>$superpower</strong></p>
<p>Weakness: <strong>$weakness</strong></p>
<p>Cheers,</p>
